<h1>Products</h1>

{{#if info}}
    <h2>Welcome {{info}}</h2>
{{/if}}

<ul>
    {{#each products}}
    <li>
        <h2>{{title}}</h2>
        <p>Price: ${{price}}</p>
        <p>Stock: {{stock}}</p>
        <p>Description: {{description}}</p>
        <form action="/api/carts/{{../cartId}}/product/{{_id}}" method="post">
            <button class="addProductCart">Add product to cart</button>
        </form>
    </li>
    {{/each}}
</ul>

<form action="/static/myCart" method="get">
<button id="buttonMyCart" >Go to my cart</button>
</form>

<form action="/api/session/logout" method="get">
<button id="buttonLogOut" >Log out</button>
</form>